body {
  background-color: rgba(48, 46, 46, 0.74);
  text-align: justify;
  color: aliceblue;
  font-family: 'Times New Roman', Times, serif;
  }
.section {
  float: left;
  width: 25%;
  text-align: justify;
  overflow: auto;
  padding: 3px;
  border: rgba(48, 46, 46, 0.74) solid;
  background-color:rgba(48, 46, 46, 0.74);
}
        .section .toledo {
          text-align: center;
        }
                  .section .toledo #mun_br {
                    background-color: mediumturquoise;
                    padding: 2px;
                    border: mediumturquoise solid;
                  }
        .section .simbolos {
          text-align: center;
        }
                  .section .simbolos #bandeira {
                    float: left;
                  }
                  .section .simbolos #brasao {
                    float: right;
                  }
                  .section .simbolos #simbolos {
                    float: left;
                    width: 25%;
                  }
                  .section .simbolos #simbolos2 {
                    float: right;
                    width: 75%;
                  }
        .section .localizacao {
          text-align: center;
        }
                  .section .localizacao #local {
                    float: left;
                    width: 25%;
                  }
                  .section .localizacao #local2 {
                    float: right;
                    width: 75%;
                  }

.article {
  float: right;
  width: 74%;
  text-align: justify;
}
          .article .historia {
            border: rgba(48, 46, 46, 0.74) solid;
            background-color:rgba(48, 46, 46, 0.74);
            padding: 10px;
            overflow: auto;
          }
                        .article .historia #his {
                          float: left;
                          width: 20%;
                        }
                        .article .historia #his2 {
                          float: right;
                          width: 80%;
                        }
          .article .administracao{
            border: rgba(48, 46, 46, 0.74) solid;
            background-color:rgba(48, 46, 46, 0.74);
            padding: 10px;
            overflow: auto;
          }
                        .article .administracao #adm {
                          float: left;
                          width: 20%;
                        }
                        .article .administracao #adm2 {
                          float: right;
                          width: 80%;
                        }
          .article .cargeo {
            border: rgba(48, 46, 46, 0.74) solid;
            background-color:rgba(48, 46, 46, 0.74);
            padding: 10px;
            overflow: auto;
          }
                        .article .cargeo #car {
                          float: left;
                          width: 20%;
                        }
                        .article .cargeo #car2 {
                          float: right;
                          width: 80%;
                        }
          .article .indicadores {
            border: rgba(48, 46, 46, 0.74) solid;
            background-color:rgba(48, 46, 46, 0.74);
            padding: 10px;
            overflow: auto;
          }
                        .article .indicadores #ind {
                          float: left;
                          width: 20%;
                        }
                        .article .indicadores #ind2 {
                          float: right;
                          width: 80%;
                        }
          .article .outrasinf {
            border: rgba(48, 46, 46, 0.74) solid;
            background-color:rgba(48, 46, 46, 0.74);
            padding: 10px;
            overflow: auto;
          }
                        .article .outrasinf #outr {
                          float: left;
                          width: 30%;
                        }
                        .article .outrasinf #outr2 {
                          float: right;
                          width: 70%;
                        }
            .article .mapa_interativo {
              border: rgba(48, 46, 46, 0.74) solid;
              background-color:rgba(48, 46, 46, 0.74);
              padding: 10px;
              overflow: auto;
              text-align: center;
            }
                        