#litabimg {
    background-color: rgba(185, 77, 77, 0.623);
    color: rgb(7, 7, 7);
    font-family: 'Times New Roman', Times, serif;
}
#imgs {
    text-align: justify;
    margin-left: 23%;
    margin-top: 10px;
    width:100px;
}
#tab {
    text-align: justify;
    margin-left: 5%;
    margin-top: 5%;
    color: white;
    width: 90%;
    background-color: #72a3af;
    border-color: black;
    border-style: groove;
}
#listmun {
    text-align: justify;
    margin-left: 5%;
    margin-top: 5%;
}
#vita {
    text-align: justify;
    margin-left: 50%;
    margin-right: 5%;
    margin-top: -17.6%;
}
body {
    background-color: rgba(48, 46, 46, 0.74);
    text-align: center;
    color: aliceblue;
    font-family: 'Times New Roman', Times, serif;
  }
#base {
    text-align: justify;
    margin-left: 46%;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: larger;
}
#dados {
    text-align: justify;
    margin-left: 570px;
    margin-top: 20px;
}
#foto {
    text-align: right;
    margin-left: 280px;
    margin-top: -170px;
    width:800px;
}
#obj {
    text-align: center;
    margin-left: 350px;
    width:800px;
}

#exp_left {
    text-align: left;
    position: absolute;
    margin-left: 90px;
    margin-top: 10px;
    width:300px;
    height:50px;
}
#exp_right {
    text-align: justify;
    margin-left: 400px;
    margin-right: 100px;
    margin-top: -30px;
    width:1000px;
    height:150px;
}
#exp_left2 {
    text-align: left;
    position: absolute;
    margin-left: 90px;
    margin-top: 10px;
    width:300px;
    height:10px;
}
#exp_right2 {
    text-align: justify;
    margin-left: 400px;
    margin-right: 100px;
    margin-top: -30px;
    width:1000px;
    height:110px;
}
#inf {
    text-align: justify;
    margin-left: 500px;
    width:1000px;
    height:100px;
}